#detail {
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  object-fit: cover;
}
#detail .imageTitle {
  font-family: "Fruktur", "cursive";
  font-size: 70px;
  color: white;
  padding-top: 50px;
}
.producers,
#detail .description {
  color: white;
}
