#login {
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  object-fit: cover;
  display: flex;
  color: white;
}

#login > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
#login button {
  background-color: #0063e5;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border: 0;
  height: 50px;
  width: 650px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  margin: 12px auto 0 auto;
}
#login button:hover {
  background-color: #0483ee;
}
#login img {
  max-width: 650px;
}
#login small {
  letter-spacing: 1.5px;
  text-align: center;
  max-width: 650px;
  line-height: 1.5;
  margin: 12px auto;
}

@media (max-width: 540px) {
  #login button,
  #login img {
    width: 90%;
  }
}
