#viewers {
  display: flex;
  justify-content: space-between;
}
/* #video1 {
  height: 100px;
  width: 100px;
} */
#viewers div {
  width: 174px;
  height: 100px;
  cursor: pointer;
}
#viewers > div img {
  height: 100px;
  /* width: 100%; */
  border: 3px solid rgba(249, 249, 249, 0.1);
  border-radius: 10px;
  object-fit: cover;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  cursor: pointer;
}
#viewers > div img:hover {
  border-color: rgba(249, 249, 249, 0.8);
  transform: scale(1.05);
  box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;
}
video {
  display: none;
  width: 100%;
}

@media (max-width: 768px) {
  #viewers {
    flex-direction: column;
    align-items: center;
    height: 600px;
  }
  /* #viewers div {
    width: 90%;
    height: 300px;
  }
  #viewers > div img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
}
